@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #F5F6F8;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media (width < 600px) {
    /* .sidenav {
      position: fixed;
      top: 0px;
      width: 350px;
      max-width: 90vw;
      height: 100vh;
      z-index: 1;
    } */
    /* .sidenav.collapsed {
      width: 70px;
      height: 100vh;
    } */

    .sidenav {opacity: 0!important; display: none!important; pointer-events: none!important;}

    .home{
      padding: 10px 10px 0px 10px;
    }

    .welcome-user {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .search-bar {width: 100%; margin-top: 10px; margin-bottom: 10px;}

    .summary-cards {
      margin: 10px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .summary-cards .summary-card {
      width: 100%;
      margin: 10px 0px;
    }
    .topnav {
      display: flex;
      overflow: hidden;
      height: 60px;
      background-color: #040440;
      color: #FFFFFF;
      box-shadow: 2px 0px 10px #040440;
      padding: 10px;
    }

    .topnav .topnav-item {
      display: flex;
      margin: 0px 10px;
      align-items: center;
      color: gray;
    }

    .topnav .topnav-item.active {
        color: white;
    }

    .topnav .topnav-item span {
      margin-left: 5px;
    }

    .product-list .product-list-header {
      display: flex;
      flex-direction: column;
    }
}

@media (width >= 600px) {
  .topnav {opacity: 0!important; display: none!important; pointer-events: none!important;}
  .sidenav {
    width: 350px;
    height: 100vh;
    z-index: 1;
  }

  .home {
    padding: 25px 25px 0px 25px;
  }

  .welcome-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .summary-cards {
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .charts {
    height: 450px;
  }

  .charts .charts-heading {display: flex; justify-content: space-between;}

  .product-list .product-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.height-100vh {
  height: 100vh;
}

.width-100vw {
  width: 100vh;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.home {
  overflow: hidden auto;
  background-color: #F5F6F8;
}

.sidenav {
  background-color: #040440;
  color: #FFFFFF;
  box-shadow: 2px 0px 10px #040440;
  transition: width 0.5s ease-in-out;
}

.card-general {
  background-color: #FFFFFF;
  /* box-shadow: 1px 1px 2px gray; */
  border-radius: 4px;
  padding: 15px;
}

.search-bar {
  position: relative;
  height: 30px;
}

.search-bar .search-icon {
  position: absolute;
  left: 5px;
  top: 20%;
}

.form-input:focus {
  box-shadow: none;
  outline: none;
}

.form-input {
  height: 30px;
  padding-left: 25px;
  border-radius: 4px;
  border: 0px solid #000000;
  width: 100%;
}

.welcome-user {width: 100%;}

.ml-15 {margin-left: 15px!important;}

.weight-600{font-weight: 600;}

.flex-direction-column {flex-direction: column;}

.flex-direction-column-reverse {flex-direction: column-reverse;}

.mt-10 {margin-top: 10px!important;}
.mr-10 {margin-right: 10px!important;}

.position-relative {position: relative;}

.sidenav {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.sidenav .sidenav-admin-panel {
  border-radius: 4px;
  padding: 10px;
}

.bg-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.168)!important;
}

.sidenav .sidenav-item span {
  margin-left: 10px;
}

.sidenav .sidenav-item {
    color: gray!important;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.sidenav .sidenav-item.active {
  font-weight: 600;
  color: white!important;
}

.sidenav .sidenav-item:not(.active):hover {
  font-weight: 600;
  color: white!important;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.168)!important;
}

.form-select:focus {
  box-shadow: none;
  outline: none;
}